@font-face{
    font-family: lato;
    src: url("/assets/fonts/latoLight.ttf");
}

#articlePreviewItem{
    width: 100%;
    font-family: lato, monospace !important;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
    word-wrap: break-word;
    background-color: white;
    border: none;
    transition-property: background-color;
    transition-duration: 400ms;
}

#imgContainer{
    display: block;
    align-self: center;
    background-color: white;
    padding: 0;
    height: 160px;
}

img{
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 400ms;
}

#articlePreviewItem:hover #imgContainer{
    background-color: #000;
}

#articlePreviewItem:hover img{
    opacity: 0.8;
}

#articlePreviewItem:hover{
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}

#articlePreviewItem::-moz-focus-inner{
    border: none;
}

h1{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: rgb(43, 43, 43);
    margin-top: 10px;
    margin-bottom: 8px;
}

@media (max-width: 455px) and (max-height: 850px) {
    #imgContainer{
        height: 210px;
    }
    #articlePreviewItem{
        font-size: 20px;
        margin-bottom: 7.5px;
        margin-top: 2.5px;
        padding-bottom: 35px;
        padding-left: 4px;
        padding-right: 4px;
        line-height: 1.6em;
    }
    h1{
        font-size: 22px;
    }
}

@media (min-width: 455px) and (max-width: 850px) {
    #imgContainer{
        height: 200px;
    }
    #articlePreviewItem{
        font-size: 18.5px;
        margin-bottom: 7.5px;
        margin-top: 2.5px;
        padding-bottom: 35px;
        padding-left: 4px;
        padding-right: 4px;
    }
    h1{
        font-size: 23px;
    }
}