<div
    *ngIf="getSelectedCategory() !== 'podcasts'"
    class="itemContainer"
    >
    <app-article-preview-item
        *ngFor="let articlePreview of articlePreviews" 
        [articlePreview]="articlePreview"
        class="previewItem"
        >
    </app-article-preview-item>

</div>

<div
    *ngIf="getSelectedCategory() === 'podcasts'"
    class="itemContainer"
    >
    <app-podcast-preview-item
            *ngFor="let podcastPreview of articlePreviews" 
            [podcastPreview]="podcastPreview"
            class="previewItem"
        >
    </app-podcast-preview-item>
</div>



<mat-paginator #paginator
    [length]="articlesAmount"
    [pageIndex] = "0"
    [pageSize] = "15"
    color="accent"
    (page)="pageEvent = OnPageChange($event)">
</mat-paginator>